@import "@angular/material/prebuilt-themes/indigo-pink.css";


.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  border-right: 1px solid #e0e0e0;
  background-color: #fafafa;
}

.sidenav-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  padding: 24px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.spacer {
  flex: 1 1 auto; // Mágica do Flexbox que empurra o Login para o rodapé
}


.menu-item {
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04); // Efeito visual ao passar o mouse
  }
}


.menu-item {
  &.icon-home mat-icon      { color: #4285f4 !important; }
  &.icon-devedores mat-icon  { color: #34a853 !important; }
  &.icon-relatorio mat-icon { color: #a00693 !important; }
  &.icon-login mat-icon     { color: #ea4335 !important; }
}

.toolbar-menu-button {
  color: white;
  margin-right: 8px;
}

mat-toolbar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); // Sombra para dar profundidade
}