<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div class="sidenav-content-wrapper">
      
      <mat-nav-list>
        <a mat-list-item (click)="voltarInicio()" class="menu-item icon-home">
          <mat-icon matListItemIcon class="icon-home">home</mat-icon> 
          <span matListItemTitle>Início</span>
        </a>

        <a mat-list-item (click)="mudarTela('devedores')" class="menu-item icon-devedores">
          <mat-icon matListItemIcon class="icon-devedores">payments</mat-icon> 
          <span matListItemTitle>Devedores</span>
        </a>
      </mat-nav-list>

      <span class="spacer"></span>

      <mat-nav-list>
        <a mat-list-item (click)="mudarTela('relatorio')" class="menu-item icon-relatorio">
  <mat-icon matListItemIcon>bar_chart</mat-icon> 
  <span matListItemTitle>Relatórios</span>
</a>

        <a mat-list-item (click)="mudarTela('login')" class="menu-item icon-login">
          <mat-icon matListItemIcon class="icon-login">account_circle</mat-icon> 
          <span matListItemTitle>Login / Perfil</span>
        </a>
      </mat-nav-list>       
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="toolbar-menu-button">
        <mat-icon>{{ sidenav.opened ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>
      <span>ARSAL - Sistema de Cobrança</span>
    </mat-toolbar>

    <div class="main-content">
      <div *ngIf="telaAtual === 'inicio'">
        <h1>Bem-vindo ao Sistema da ARSAL 🏠</h1>
        <p>Selecione uma opção no menu lateral para começar.</p>
      </div>

      <app-lista-devedores *ngIf="telaAtual === 'devedores'"></app-lista-devedores>
      <app-relatorio *ngIf="telaAtual === 'relatorio'"></app-relatorio>
      <app-login *ngIf="telaAtual === 'login'"></app-login>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>